/* CSS declarations go here */
.meteor_logo {
  float: left;
  margin-right: 80px;
  margin-top: 5px;
  margin-left: 20px;
}

.title_header {
  float: left;
}

.profile_cell {
  width: 80px;
}

.text_top_padding {
  padding-top: 24px;
}

.twitter_name_cell {
  width: 150px;
}
