<template name="layout">
  <div class="container">
    <div class="row">
      <div class="col-md-12 well">
        <div class="meteor_logo">
          <img class="img-rounded" src="meteor.png" />
        </div>
        <div class="title_header">
          <h1><img class="img-rounded" src="bcc.png" /> Boise Code Camp Dev Connection</h1>
          <h2>Sign in with Twitter to connect to other devs</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        
      </div>
      <div class="col-md-4">
        {{yield 'userInfo'}}
      </div>
      <div class="col-md-1">
        
      </div>
    </div>  
    {{yield}}
  </div>
</template>

<template name="loggedInUser">
  <div class="user_container">
    {{#if currentUser}}<img class="img-circle user" src="{{currentUser.services.twitter.profile_image_url}}"/> &nbsp;{{/if}}
    {{loginButtons}}
    {{#if currentUser}}
      <button id="profile" type="button" class="pull-right btn btn-default btn-md">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
    {{/if}}
  </div>
</template>

<template name="loading">
  <h1>Loading</h1>
</template>

<template name="notFound">
  <h1>Sorry I couldn't find that!</h1>
</template>